<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActivityList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8480EF481F25D84B0063F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8480EF641F25D84B0063F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8480EF6F1F25D84B0063F4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
